<h1>List of all gym classes</h1>
<% @classes.each do | gym_class | %>
<p>Class name: <%= gym_class.class_name %> </p>
<p>Class date: <%= gym_class.date_class %> </p>
<p>Class time:<%= gym_class.time_class %> </p>
<p><a href="/classes/<%= gym_class.id %>/edit">Edit class info</a></p>
<p><a href="/members/<%= gym_class.id %>/delete">Delete class</a></p>
<br>
<hr>
<% end %>
